h1{

    color: darkgreen;
}

.paragraph {

    border-width: 5px;
    border-style: double;
    border-color:blue;

    margin-top: 10px;
}

#Para2{
    border: 2px solid red;
    color: #0b0d42;
    padding: 10px;
}

#Para1{

    background-color: yellow;
    padding: 10px;
}