h1 {

    color: red;

}

#para1{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    /* font-style: normal;
    font-style: oblique; */

    font-variant: small-caps;
    /* font-variant:normal; */


}

#para2 {

    font-weight: 900;
    /* 
    font-weight: 100-900 ; 
    font-weight: bold;
    font-weight: bolder;
    font-weight: lighter; */
}

#para3 {

    /* font-size:20px ; */
    font-size:200% ;
    /* font-size-adjust: none; */
    font-stretch:narrower;
}

#para4{

    font-stretch: narrower;
}
