.nav-bar ul li {

     list-style-type: none; /* bulles hat gai */
    color: darkgreen;
    background-color: #ceb4f0;
    display: inline-flex;
    font-size: 20px;
  
}

.nav-bar a {

    text-decoration: none;

}


 .nav-bar ul li:hover {

    background-color: blanchedalmond;
    color: red;
 }

