div {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: navy;
    transition: width 2s, height 2s ;
    /* transition-duration: 3s;
    transition-delay: 2s; */

    transition-timing-function: linear;

}

div:hover {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:#c72bc4;
}